body {
  font-family: "Poppins", sans-serif;
  background-color: #e7ffe3;
}

body,
p,
h1,
h2,
h3,
ul,
li,
blockquote,
span {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ESTRUTURA GERAL */
.grid-base {
  display: grid;
  grid-template-columns: 200px 3fr 250px;
  grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .grid-base {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav ads ads"
      "footer footer footer";
  }
}

@media (max-width: 1000px) {
  .grid-base {
    grid-template-areas:
      "header header header"
      "sidenav sidenav sidenav"
      "content content content"
      "ads ads ads"
      "footer footer footer";
  }
}

/* HEADER */
.header {
  grid-area: header;
  background-image: linear-gradient(#50edc7, #7ff5c4);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 150px;
}

.logo {
  display: block;
  max-width: 238px;
  margin-left: 120px;
}

.nav {
  margin-right: 120px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header nav a {
  display: block;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #444444;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background-color: #c6ffcf;
}

@media (max-width: 1000px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header nav ul {
    gap: 20px;
  }
  .header nav a {
    font-size: 1rem;
  }
  .logo {
    max-width: 200px;
    margin-left: 0px;
    margin: 0 auto;
  }
  .nav {
    margin-right: 0px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .logo,
  .nav {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* SIDENAV */
.sidenav {
  grid-area: sidenav;
  background-image: linear-gradient(to right, #9dffc4, #c6ffcf);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.sidenav ul {
  display: block;
  margin: 40px auto;
  width: 120px;
}

.sidenav img {
  display: block;
  border-radius: 20px;
  border: solid 4px #50edc7;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  width: 120px;
  height: auto;
  margin: 40px auto;
  transition: 0.1s ease-out;
}

.sidenav img:hover {
  border: solid 4px #e7ffe3;
  filter: drop-shadow(2px 2px 2px #50edc7);
}

.sidenav li + li {
  margin-top: 40px;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 1000px) {
  .sidenav {
    padding: 0 40px;
    overflow-x: auto;
    position: relative;
  }
  .sidenav img {
    min-width: 100px;
    margin: 30px auto 20px auto;
  }
  .sidenav ul {
    margin: 0px;
    display: flex;
  }
  .sidenav ul li {
    flex: 1;
  }
  .sidenav li + li {
    margin-top: 0px;
    padding-left: 40px;
  }
  .sidenav li:last-child {
    padding-right: 40px;
  }
}

@media (max-width: 920px) {
  .sidenav::after {
    content: "➜";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.2);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
}

/* CONTENT */
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  gap: 50px;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.005rem;
  line-height: 40px;
  color: #444444;
}

.content img {
  width: 100%;
}

.content-titulo h1 {
  font-weight: 700;
  line-height: 65px;
  font-size: 3.75rem;
  color: #087382;
}

.content-titulo p {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  color: #0e8a92;
}

.content-extra {
  display: flex;
  gap: 60px;
}

.content-extra-bg {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.content-extra-1 {
  background: linear-gradient(180deg, #34d1be 0%, #20b4ab 100%);
  border-radius: 5px 5px 0px 0px;
  width: 100px;
  height: 100px;
}

.content-extra-1 p {
  font-weight: 700;
  font-size: 2.5rem;
  color: #c6ffcf;
  text-align: center;
  padding-top: 30px;
}

.content-extra-2,
.content-extra-3 {
  background: linear-gradient(180deg, #c6ffcf 0%, #9dffc4 100%);
  border-radius: 0px 0px 5px 5px;
  width: 100px;
  height: 50px;
}

.content-extra-2 p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #747474;
  text-align: center;
  padding-top: 12px;
}

.content-extra-3 p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #747474;
  text-align: center;
}

.desc-1 {
  grid-column: 1 / -1;
}

.img-desc-1 {
  border-radius: 10px;
  grid-row: span 2;
  align-self: end;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.desc-2 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 36px;
  color: #087382;
}

.img-desc-2 {
  align-self: end;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.content-blockquote {
  grid-column: 1/ -1;
  background: linear-gradient(180deg, #34d1be 0%, #20b4ab 100%);
  border-radius: 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.content-blockquote blockquote {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 45px;
  font-style: italic;
  text-align: center;
  padding: 30px 50px;
  color: #fcfcfc;
}

.content-ul {
  grid-row: span 2;
  background: linear-gradient(180deg, #7ff5c4 0%, #50edc7 100%);
  border-radius: 10px;
  align-self: start;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.content-ul li {
  font-weight: 500;
  font-size: 1.75rem;
  color: #03556e;
  margin: 36px 30px;
  padding-bottom: 30px;
  border-bottom: solid 2px #9dffc4;
}

.content li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.desc-6 {
  align-self: start;
}

.img-desc-3 {
  grid-column: 1 /-1;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

@media (max-width: 850px) {
  .content {
    grid-template-columns: 1fr;
    padding: 30px;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .content {
    font-size: 1rem;
  }
  .content-titulo h1 {
    line-height: 50px;
    font-size: 3rem;
  }
  .content-titulo p {
    font-size: 1rem;
  }
  .content-extra-1 {
    width: 80px;
    height: 80px;
  }
  .content-extra-1 p {
    font-size: 2rem;
    padding-top: 20px;
  }
  .content-extra-2,
  .content-extra-3 {
    width: 80px;
    height: 50px;
  }
  .content-extra-2 p {
    font-size: 0.8rem;
    padding-top: 12px;
  }
  .content-extra-3 p {
    font-size: 0.8rem;
  }
  .desc-2 {
    font-size: 1rem;
  }
  .content-blockquote blockquote {
    font-size: 1.2rem;
    padding: 20px 40px;
  }
  .content-ul li {
    font-size: 1.2rem;
    margin: 24px 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .content {
    font-size: 1rem;
  }
  .content-titulo h1 {
    line-height: 50px;
    font-size: 3rem;
  }
  .content-titulo p {
    font-size: 1rem;
  }
  .content-extra-1 {
    width: 80px;
    height: 80px;
  }
  .content-extra-1 p {
    font-size: 2rem;
    padding-top: 20px;
  }
  .content-extra-2,
  .content-extra-3 {
    width: 80px;
    height: 50px;
  }
  .content-extra-2 p {
    font-size: 0.8rem;
    padding-top: 12px;
  }
  .content-extra-3 p {
    font-size: 0.8rem;
  }
  .desc-2 {
    font-size: 1rem;
  }
  .content-blockquote blockquote {
    font-size: 1.4rem;
    padding: 20px 40px;
  }
  .content-ul li {
    font-size: 1.4rem;
    margin: 24px 20px;
    padding-bottom: 20px;
  }
}

/* ADS */
.ads {
  grid-area: ads;
  background-image: linear-gradient(to right, #c6ffcf, #9dffc4);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
}

.ad-content {
  display: block;
  margin: 40px auto;
  max-width: 180px;
}

.ads img {
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: auto;
  margin: 0 auto;
  transition: 0.1s ease-out;
}

.ads img:hover {
  border: solid 4px #34d1be;
}

@media (max-width: 1200px) {
  .ads {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#50edc7, #7ff5c4);
    box-shadow: none;
    gap: 0px;
  }
  .ad-content {
    margin: 20px;
    width: 0 auto;
  }
}

/* FOOTER */
.footer {
  grid-area: footer;
  background-image: linear-gradient(to bottom, #087382, #03556e);
  font-size: 1rem;
  color: #e7ffe3;
}

.footer div {
  margin: 20px 200px 30px 200px;
}

.footer-titulo {
  margin-bottom: 8px;
}

.footer span {
  font-weight: 700;
}

.footer-final {
  color: #bbbbbb;
  margin: 0 200px 20px 200px;
}

@media (max-width: 1200px) {
  .footer div {
    margin: 20px 120px 30px 120px;
  }
  .footer-final {
    margin: 0 120px 20px 120px;
  }
}

@media (max-width: 1000px) {
  .footer div {
    margin: 20px 60px 30px 60px;
  }
  .footer-final {
    margin: 0 60px 20px 60px;
  }
}

@media (max-width: 750px) {
  .footer div {
    margin: 20px 30px 20px 30px;
  }
  .footer-final {
    margin: 0 30px 20px 30px;
  }
}

@media (max-width: 500px) {
  .footer {
    font-size: 0.8rem;
  }
}
